doctype
html
	head
		link(rel="stylesheet" href="/css/normalize.css")
		link(rel="stylesheet" href="/css/skeleton.css")
		link(rel="stylesheet" href="/css/swipebox.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		//- Jquery, Masonry layout, Image lightbox, app jquery
		

		!= yield


		
		
